    <!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        @*<li class="header">MAIN NAVIGATION</li>*@
        <li class="active"><a href="/Home/Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="/Employee/List"><i class="fa fa-users"></i> <span>Employees</span></a></li>
        <li><a href="/Purchase/List"><i class="fa fa-shopping-cart"></i> <span>Purchase</span></a></li>
        <li><a href="/Sales/List"><i class="fa fa-briefcase"></i> <span>Sales</span></a></li>
        <li><a href="/Payment/List"><i class="fa fa-dollar"></i> <span>Payment</span></a></li>
        <li><a href="/AdvancePayment/List"><i class="fa fa-credit-card"></i> <span>Advance Payment</span></a></li>
        <li><a href="/AdvancePayment/ListMisc"><i class="fa fa-barcode"></i> <span>Miscellaneous Expenses</span></a></li>
        <li><a href="/AdvancePayment/ListMisc"><i class="fa fa-book"></i> <span>Stock</span></a></li>
        <li><a href="/AdvancePayment/ListMisc"><i class="fa fa-newspaper-o"></i> <span>Balance Payment</span></a></li>
        <li><a href="/AdvancePayment/ListMisc"><i class="fa fa-bank"></i> <span>Day Cash Book</span></a></li>
        <li><a href="/Account/Logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
    </ul>
</section>

<script>
var url = window.location;

// for sidebar menu entirely but not cover treeview
$('ul.sidebar-menu a').filter(function() {
    return this.href == url;
}).addClass('active');

// for treeview
$('ul.nav-treeview a').filter(function() {
    return this.href == url;
}).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
</script>