@model List<Sales_Inventory.Models.StockViewModel>

<style type="text/css">
    body {
        counter-reset: Serial;
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;
        content: counter(Serial);
    }
</style>

<div class="box-body table-responsive">
    <table id="Stocklist" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Current Quantity</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="tblbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@item.Product</td>
                    <td>@item.TotalQuantity</td>
                    <td>@String.Format(@"{0:dd\/MM\/yyyy}", item.CreatedDate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>