@model  Sales_Inventory.Models.Purchase_Products

@{
    ViewBag.Title = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #PurchaseName {
        width: 250px;
    }
</style>

<div class="content-wrapper">
    @*<section class="content-header">
        <h1>List</h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">List</li>
        </ol>
    </section>*@

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Products:</label>
                                <div class="input-group">
                                    @Html.DropDownList("MyProducts", new SelectList(ViewBag.ProductList, "Text", "Text"), new { @class = "form-control required", @id = "PurchaseName", type = "option" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Start Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="startdatepicker" placeholder="Select Start Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>End Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="enddatepicker" placeholder="Select End Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Action:</label><br />
                                <input type="submit" class="btn btn-primary" value="Filter" id="btnSearch" />
                                <input type="reset" class="btn btn-warning" value="Reset" id="btnReset" />
                            </div>
                        </div>
                    </div>
                    <div id="SearchList">
                        @Html.Partial("_SearchList", Model.List)
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Stocklist').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false
            })
        });

        $('#startdatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            orientation: "down",
            endDate: "today"
        });
        $('#enddatepicker').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            orientation: "down",
            endDate: "today"
        })

        $("body").on("click", "#btnSearch", function () {
            var data = new FormData();
            data.append('PurchaseName', $("#PurchaseName").val());
            data.append('StartDate', $("#startdatepicker").val());
            data.append('EndDate', $("#enddatepicker").val());

            $.ajax({
                type: "POST",
                url: "/Common/SearchList",
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result) {
                        $('#SearchList').html(result);
                    }
                }
            });
        });

        $("body").on("click", "#btnReset", function () {
            $('#startdatepicker').datepicker('setDate', null);
            $('#enddatepicker').datepicker('setDate', null);
            $('#PurchaseName').prop('selectedIndex', 0);

            $.ajax({
                type: "GET",
                url: "/Common/TotalStockList",
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("TotalStockList", "Common")';
                    }
                }
            });
        })
    </script>
}
