
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<!-- sidebar: style can be found in sidebar.less -->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active"><a href="/Home/Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/Employee/List"><i class="fa fa-users"></i> <span>Employees</span></a></li>
            <li><a href="/Purchase/List"><i class="fa fa-shopping-cart"></i> <span>Purchase</span></a></li>
            <li><a href="/Sales/List"><i class="fa fa-briefcase"></i> <span>Sales</span></a></li>
            <li><a href="/Payment/List"><i class="fa fa-dollar"></i> <span>Payment</span></a></li>
            <li><a href="/PaymentReceipt/List"><i class="fa fa-google-wallet"></i> <span>Payment Receipt</span></a></li>
            <li><a href="/AdvancePayment/List"><i class="fa fa-credit-card"></i> <span>Advance Payment</span></a></li>
            <li><a href="/MiscExpenses/List"><i class="fa fa-barcode"></i> <span>Miscellaneous Expenses</span></a></li>
            <li><a href="/Home/DayCashBook"><i class="fa fa-th"></i> <span>Day Cash Book</span></a></li>
            <li><a href="/Home/TotalStock"><i class="fa fa-laptop"></i> <span>Total Current Stock</span></a></li>
            <li><a href="/InHouse/List"><i class="fa fa-edit"></i> <span>In-House Transaction</span></a></li>
            <li><a href="/Account/Logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
        </ul>
    </section>
</aside>